@font-face {
  font-family: 'Google Sans';
  src: url('https://cdn.jsdelivr.net/gh/DYNAMO99X/sports-index@main/css/font/src/GoogleSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://cdn.jsdelivr.net/gh/DYNAMO99X/sports-index@main/css/font/src/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url('https://cdn.jsdelivr.net/gh/DYNAMO99X/sports-index@main/css/font/src/Aptos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
